<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text.css" href="/public/css/style.css">
    <title>Foodie Go To!</title>
</head>
<body>
  <header>
    <h1 class="title is-1 has-text-primary-dark has-background-primary-light is-family-monospace">
      Foodie Go To</h1>
  </header>
<div class="column has-background-primary-light"></div>
  
  <nav class="navbar is-dark is-full">
    <div class="navbar-brand">
    <a href="/" class="navbar-start navbar-item">
     Home
    </a>
    {{#if loggedIn}}
    <a id="logout" class="level-left navbar-item">
      Logout
    </a>
    {{else}}
    <a class="level-left navbar-item" href="/login" >
      Login
    </a>
    {{/if}}
    <div class="field navbar-item">
      <input class="input" type="text" placeholder="Search A Recipe">
    </div>
    <a class="navbar-item navbar-end level-right">
      Search
    </a>
    <a class="level-left navbar-item" href="/signup">
    Sign Up
    </a>
    </div>
  </nav>
  
  <main class="container has-background-success-light">

<div>
<h2 class="title is-1 has-text-primary-dark has-background-primary-light is-family-monospace">
      Recipes</h2>
</div>

    <div class="column ">
<div class="card column has-background-success-dark	">
      <div class="card-image is-align-items-center">
     <figure class="image is-3by2">
      <img src="https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2017/09/Grilled-Peach-Burrata-Salad-9.jpg" alt="grilled peach">
      </figure>
    </div>
      <div class="card-content has-background-success-dark">
       <p class="card-header-title is-4 is-centered has-text-white">
        Grilled Peach and Burrata Salad
       </p>
       <p class="subtitle has-text-white">
       Grilled peach and burrata salad is summertime on a plate. The mix of grilled peaches, creamy burrata, arugula, pine nuts and balsamic is perfection. When it comes to summer salads, this one’s a winner.
        </p>
     </div>
    </div>
</div>

    <div class="column">
<div class="card column has-background-success-dark	">
      <div class="card-image is-align-items-center">
     <figure class="image is-3by2">
      <img src="https://www.simplyrecipes.com/thmb/b1Ctl3C488RCRMasVsYAHUfjEmw=/648x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2020__07__Peach-Cucumber-Salad-LEAD-09-8980395edd6e4b63adb3e5ae8a3994f4.jpg" alt="easy salad">
      </figure>
    </div>
      <div class="card-content has-background-success-dark	">
       <p class="card-header-title is-4 is-centered has-background-success-dark	has-text-white">
        Easy Cucumber, Peach, and Basil Salad
       </p>
       <p class="subtitle has-text-white">
      Cool, crunchy cucumbers combined with sweet, juicy peaches and dressed in a peppery basil vinaigrette is a great way to make the most of summer and all its gorgeous flavors. This refreshing salad is easy to make and goes great with grilled meat.        </p>
     </div>
    </div>
</div>

    <div class="column">
<div class="card column has-background-success-dark	">
      <div class="card-image is-align-items-center">
     <figure class="image is-3by2">
      <img src="https://www.simplyrecipes.com/thmb/FfA2NGQnXuxla3E_6KYHcravqE8=/648x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Simple-Tomato-Salad-LEAD-10-0c05e60bfbb647679556d94df899f013.jpg" alt="tomato salad">
      </figure>
    </div>
      <div class="card-content has-background-success-dark">
       <p class="card-header-title is-4 is-centered has-text-white">
        Simple Summer Tomato Salad
       </p>
       <p class="subtitle has-text-white">
       This simple salad makes the most of juicy tomatoes at the peak of season. Toss ripe tomatoes with a classic vinaigrette, thinly sliced red onion, and a shower of fresh basil and mint. You’ll want to have it on repeat all summer long.     </div>
    </div>
</div>

  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
