   <div>
   <div class="column has-background-primary-light"></div>
    <aside>
      <h2 class="title is-2 has-text-primary-dark has-background-primary-light is-family-code">
        Recipes</h2>
    </aside>
   <div class="column has-background-primary-light"></div>

    <div class="column has-background-primary-light">
    <div class="card column">
      <div class="card-image is-align-items-center">
     <figure class="image is-3by1">
      <img src="/Recipe-app-Name-TBD-/assets/images/grilled-peach.png" alt="Placeholder image">
      </figure>
    </div>
      <div class="card-content">
       <p class="card-header-title is-4 is-centered">
         Grilled Peach and Burrata Salad
       </p>
       <p class="subtitle">
         Grilled peach and burrata salad is summertime on a plate. The mix of grilled peaches, creamy burrata, arugula, pine nuts and balsamic is perfection. When it comes to summer salads, this one’s a winner.
        </p>
     </div>
    </div>
</div>

<div class="cloumn has-background-primary-light">
<div class="card column">
      <div class="card-image is-align-items-center">
     <figure class="image is-3by1">
      <img src="/Recipe-app-Name-TBD-/assets/images/easy-salad.png" alt="Placeholder image">
      </figure>
    </div>
      <div class="card-content">
       <p class="card-header-title is-4 is-centered">
         Easy Cucumber, Peach, and Basil Salad
       </p>
       <p class="subtitle">
         Cool, crunchy cucumbers combined with sweet, juicy peaches and dressed in a peppery basil vinaigrette is a great way to make the most of summer and all its gorgeous flavors. This refreshing salad is easy to make and goes great with grilled meat.
       </p>
     </div>
    </div>
</div>

<div class="column has-background-primary-light">
<div class="card column has-primary-dark">
      <div class="card-image is-align-items-center">
     <figure class="image is-3by1">
      <img src="/Recipe-app-Name-TBD-/assets/images/tomato-salad.png" alt="Placeholder image">
      </figure>
    </div>
      <div class="card-content">
       <p class="card-header-title is-4 is-centered">
         Simple Summer Tomato Salad
       </p>
       <p class="subtitle">
        This simple salad makes the most of juicy tomatoes at the peak of season. Toss ripe tomatoes with a classic vinaigrette, thinly sliced red onion, and a shower of fresh basil and mint. You’ll want to have it on repeat all summer long.
        </p>
     </div>
    </div>
</div>

